body{
    margin: 0;
    padding: 7%;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}
.parent-part{
    display: flex;
    margin-bottom: 150px;
}
.heading-pic{
    width: 70%;
}
.half-width{
    width: 50%;
}
.banner-heading{
    font-size: 40px;
    font-family: 'Lobster Two', cursive;
    border-left: 5px solid;
    border-color: rgb(165, 28, 189);
}
.mission-heading{
    color: rgb(67, 15, 189);
}
.btn-link{
    background-color: rgb(165, 28, 189);
    color: white;
    padding: 10px 40px;
    border: 2px solid;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px;
    
}

.mission{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bolder;
}
#mission22{
    color: rgb(67, 15, 189);
}
.mission-part{
    width: 30%;
    background-color:rgb(177, 45, 159) ;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 0 15px;
    padding: 10px 15px;
}
.mission-img img{
    width: 50%;
}
.vision-part{
    width: 30%;
    background-color:rgb(116, 116, 236) ;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 0 15px;
    padding: 10px 15px;
    background-color:rgb(116, 116, 236) ;
}
.goal-part{
    width: 30%;
    border-radius: 10px;
    background-color: burlywood;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 0 15px;
    padding: 10px 15px;
}
.develop{
    background-image: url(Image/illustrator/shape-1.png);
    background-repeat: no-repeat;
    background-position:45 left;
    background-size: 10%;
}
.develop-img img{
    width: 80%;
    margin-right: 30px;
}
.develop-item h1{
    size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.global-img img{
    width: 85%;
    margin-left: 55px;
}
.global{
    background-image: url(Image/illustrator/shape-1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 15%;
}
